@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,400;1,700&family=Roboto:wght@400;700&display=swap')

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Sans-Serif;
}

body {
  position: absolute;
  top: 0%;
  left: 48%;
  transform: translate(-50%, 50%);
  text-align: center;
  background-image:url('bg.png');
  background-position: center;
  background-size: cover;
}

.digital {
  padding: 0 20px;
  border-radius: 5px;
  color: #14fdff;
  box-shadow: -2px -2px 3px rgba(255,255,255,0.1), 3px 3px 6px rgba(0,0,0,8);
}

h1 {
  font-size: 30px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.navigation .btnNext-popup {
  width: 70px;
  height: 30px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.jam,
.menit,
.detik {
  display: inline-block;
  margin: 20px;
}

span {
  font-size: 50px;
  margin-top: 5px;
}